:root {
  --color-one: #0891b2;
  --font-name: "Source Sans Pro", sans-serif;
}

html {
  font-family: var(--font-name);
  font-size: medium;
}

body {
  width: 100%;
  margin: 0;
  background-color: whitesmoke;
}

/* header  */

header {
  width: 100%;
  height: 30rem;
  background: linear-gradient(-195deg, var(--color-one) 70%, whitesmoke 30%);
  position: relative;
}

.h-img {
  width: 80vw;
  position: absolute;
  top: 12%;
  left: 10%;
}
.name {
  position: absolute;
  color: white;
  font-size: 5rem;
  padding: 0%;
  margin: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 500px) {
  .h-img {
    max-width: 245px;
    top: 7%;
    z-index: 3;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(5px 5px 1px rgb(214, 211, 211));
  }
  .name {
    top: 10%;
    left: 60%;
    font-size: 3rem;
    width: fit-content;
    z-index: 3;
  }
  .intro {
    position: absolute;
    background-color: whitesmoke;
    margin: 0%;
    padding: 0%;
    width: clamp(450px, 450px, 450px);
    height: 80vh;

    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    z-index: 2;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(7px 7px 1px rgb(214, 211, 211));
  }
  .aside {
    width: 40%;
    height: 50vh;
    align-self: flex-end;
    padding: 1rem;
  }
  .bottom {
    height: 30vh;
    padding: 1rem;
    padding-top: 0%;
  }

  .icons {
    visibility: hidden;
  }
  .intro h3 {
    width: 50%;
    align-self: flex-end;
  }
  .intro h3,
  .aside p,
  .bottom p {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
}

/*main*/

.intro {
  margin-top: 6rem;
}

.intro h3 {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-between;
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  main {
    margin-top: 20vh;
  }
}

.icon {
  width: 50px;
}

.arrow {
  width: 40px;
  border-radius: 0%;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.pj {
  height: 25rem;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(5px 5px 1px rgb(214, 211, 211));
}

.w-ss {
  min-height: 70%;
  background-color: aquamarine;
  font-size: larger;
  text-align: center;
}

.name-icon {
  display: flex;
  width: 80%;
}

.name-icon h4 {
  align-self: flex-start;
}

.small-icons {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.pj-icon {
  width: 30px;
}

.pj-info {
  min-height: 30%;
  font-size: 1.3rem;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
}

.pj-info h4,
.pj-info p {
  width: 80%;
  margin: 0%;
}

.pj-info h4 {
  margin: 0%;
}

footer h3 {
  margin: 0%;
  margin-top: 2rem;
}

.dude {
  width: 100%;
  border-radius: 0%;
}

footer {
  margin-top: 8rem;
  background-color: var(--color-one);
  font-size: 150%;
  font-weight: 900;
  gap: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.f {
  width: 80%;
  margin: auto;
}

.w1 .w-ss {
  background-color: #d53db1;
}

.w2 .w-ss {
  background-color: #44bccb;
}
.w3 .w-ss {
  background-color: #794a38;
}
.w4 .w-ss {
  background-color: #263b13;
}
.w5 .w-ss {
  background-color: #d0a053;
}
.w6 .w-ss {
  background-color: #152d99;
}
