:root {
  --color-one: #0891b2;
  --font-name: "Source Sans Pro", sans-serif;
}

html {
  font-family: var(--font-name);
  font-size: medium;
}

body {
  width: 100%;
  margin: 0;
  background-color: whitesmoke;
}

/* header  */

header {
  width: 100vw;
  height: 30rem;
  background: linear-gradient(-195deg, var(--color-one) 70%, whitesmoke 30%);
  position: relative;
}
/* laptop  */
@media screen and (min-width: 900px) {
  header {
    background-image: linear-gradient(
      -190deg,
      var(--color-one) 60%,
      whitesmoke 40%
    );
  }
}

.h-img {
  width: 80vw;
  position: absolute;
  top: 12%;
  left: 10%;
}
.name {
  position: absolute;
  color: white;
  font-size: 5rem;
  padding: 0%;
  margin: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 600px) {
  .h-img {
    max-width: 260px;
    top: 7%;
    z-index: 3;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(2px 8px 1px rgb(214, 211, 211));
  }
  .name {
    top: 14%;
    left: 60%;
    font-size: 3rem;
    width: fit-content;
    z-index: 3;
  }
  .intro {
    position: absolute;
    background-color: whitesmoke;
    margin: 0%;
    padding: 0%;
    width: clamp(400px, 450px, 600px);
    height: 80vh;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(7px 7px 1px rgb(214, 211, 211));
  }
  .aside {
    width: 40%;
    height: 50vh;
    align-self: flex-end;
    padding: 1rem;
  }
  .bottom {
    height: 30vh;
    padding: 1rem;
    padding-top: 0%;
  }

  .icons {
    visibility: hidden;
  }
  .intro h3 {
    width: 50%;
    align-self: flex-end;
  }
  .intro h3,
  .aside p,
  .bottom p {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
}

/* laptop  */
@media screen and (min-width: 900px) {
  .h-img {
    max-width: 23rem;
    top: 65%;
    left:28%;
    transform: translate(-50,-50);
  }
  .name {
    filter: none;
    left: 22%;
    top: 90%;
  }
  .intro {
    top: 33%;
    left:66%;
    transform: translate(-50,-50);
    height: 65vh;
    justify-content: center;
  }
  .intro h3 {
    align-self: center;
  }
  .aside {
    align-self: center;
    width: auto;
    height: auto;
  }
  .bottom {
    padding-bottom: 0%;
    height: auto;
  }
  .icons {
    visibility: visible;
    padding: 1rem;
    width: 30%;
    align-self: flex-end;
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 1100px) {
  .h-img{
    top: 60%;
    left:28%;
    transform: translate(-50,-50);
  }
  .intro{
    top: 33%;
    left:60%;
    transform: translate(-50,-50);
  }
}
/*main*/

.intro {
  margin-top: 6rem;
}

.intro h3 {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-between;
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  gap: 1rem;
}

@media screen and (min-width: 600px) {
  main {
    margin-top: 15vh;
  }
}

.icon {
  width: 50px;
}
/* laptop  */
@media screen and (min-width: 900px) {
  .icon {
    width: 35px;
  }
}

.arrow {
  width: 40px;
  border-radius: 0%;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
/* tablet */
@media screen and (min-width: 600px) {
  .works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }
  .pj {
    margin: 0%;
    padding: 0%;
    min-width: 14rem;
    max-height: 20rem;
  }
}

/* laptop  */
@media screen and (min-width: 900px) {
  .works {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 20rem);
    grid-row-gap: 2rem;
  }
}

.pj {
  font-size: larger;
  height: 25rem;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(5px 5px 1px rgb(214, 211, 211));
}
/* laptop  */
@media screen and (min-width: 900px) {
  .pj {
    height: 16rem;
  }
}

.w-ss {
  min-height: 70%;
  background-color: aquamarine;
  text-align: center;
}

.name-icon {
  display: flex;
  width: 80%;
}

.name-icon h4 {
  align-self: flex-start;
}

.small-icons {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.pj-icon {
  width: 30px;
}

.pj-info {
  min-height: 30%;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  font-size: 1.3rem;
}

.pj-info h4,
.pj-info p {
  width: 80%;
  margin: 0%;
}

.pj-info h4 {
  margin: 0%;
}
/* tablet */
@media screen and (min-width: 600px) {
  .pj-info,
  .name-icon {
    font-size: 1rem;
    font-weight: bolder;
  }
}
/* laptop  */
@media screen and (min-width: 900px) {
  .pj-info {
    min-height: 50%;
  }
}

/* footer  */
footer h3 {
  margin: 0%;
  margin-top: 2rem;
}

footer {
  margin-top: 8rem;
  background-color: var(--color-one);
  font-size: 150%;
  font-weight: 900;
  gap: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
}
.dude {
  width: 100%;
  border-radius: 0%;
}

.f {
  width: 80%;
  margin: auto;
}

/* laptop  */
@media screen and (min-width: 900px) {
  footer {
    display: block;
    width: 100%;
    height: fit-content;
  }
  .f {
    float: left;
    width: 40%;
    padding: 1rem;
    box-sizing: border-box;
  }
  .dude {
    width: 50%;
    padding: 1.5rem 0rem;
  }
}

.w1 .w-ss {
  background-color: #d53db1;
}

.w2 .w-ss {
  background-color: #44bccb;
}
.w3 .w-ss {
  background-color: #794a38;
}
.w4 .w-ss {
  background-color: #263b13;
}
.w5 .w-ss {
  background-color: #d0a053;
}
.w6 .w-ss {
  background-color: #152d99;
}
